html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    background-color: #e0e0e0;
}

.header, .content, .footer {
    margin: 0;
    border: 1px solid #676767;
    color: #ffffff;
}

.header {
    flex: 0 0 auto;
    display: flex;
    background: #FF9966;
    max-height: 150px;
}

.logo {
    height: 150px;
    width: 200px;
}

.header-text {
    padding-top: 60px;
    padding-left: 20px;
    color: #993300;
    font-size: 50px;
}

.footer {
    flex: 0 0 auto;
    padding: 0.5rem;
    background: #993300;
    max-height: 80px;
}

.main {
    flex: 1 0 auto;
    margin: auto;
    max-width: 100rem;
}

@media screen and (min-width: 640px){
    .main {
        display: flex;
    }
}

.content {
    padding: 0.75rem;
    flex: 1;
    background: #ffffff;
    color: black;
}

.sidebar {
    flex: 0 1 200px;
    background: #CC6633;
}

.sidebar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-item .sidebar-button {
  display: block;
  color: white;
  padding: 1rem;
  text-decoration: none;
}

.sidebar-item .sidebar-button:hover {
  background-color: #993300;
}