<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Крипто-Хаб</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{{ url_for('static', filename='js/3ts2ksMwXvKRuG480KNifJ2_JNM.js') }}">
    </script>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}"
          type="image/x-icon">
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Muli:400%7CPoppins:300,400,700%7CMontserrat:400,600">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet'
          href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.3/angular-material.min.css'>
    <link rel="stylesheet"
          href="//cdn.materialdesignicons.com/1.4.57/css/materialdesignicons.min.css">
    <style>.ie-panel {
        display: none;
        background: #212121;
        padding: 10px 0;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
        clear: both;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
        display: block;
    }
    </style>
</head>
<body>
<div class="ie-panel">
    <a href="https://windows.microsoft.com/en-US/internet-explorer/">
        <img src="{{ url_for('static', filename='images/ie8-panel/warning_bar_0000_us.jpg') }}"
             height="42" width="820"
             alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
    </a>
</div>
<div class="preloader">
    <div class="wrapper-triangle">
        <div class="pen">
            <div class="line-triangle">
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
            </div>
            <div class="line-triangle">
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
            </div>
            <div class="line-triangle">
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
                <div class="triangle">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page">
    {% block content %}
    {% endblock %}

    <footer class="section footer-classic context-dark">
        <div class="container">
            <div class="row row-15 align-items-center justify-content-lg-between">
                <div class="col-lg-4 text-center text-lg-left">
                    <!--Brand-->
                    <a class="brand" href="/">
                        <img class="brand-logo-dark"
                             src="{{ url_for('static', filename='images/logo_bitcoin.png') }}"
                             alt="" width="240" height="240"/>
                        <img class="brand-logo-light"
                             src="{{ url_for('static', filename='images/logo_bitcoin.png') }}"
                             alt="" width="240" height="240"/>
                    </a>
                </div>
                <div class="col-lg-4 text-center">
                    Created by
                    <span class="icon decor mdi mdi-heart text-yellow"></span>
                    Makarov Dmitry
                </div>
                <div class="col-lg-4 text-lg-right text-center">
                    <p class="rights">
                        <span>&copy;&nbsp; </span>
                        <span class="copyright-year"></span>
                        <span>.&nbsp;</span>
                        <span>All Rights Reserved.</span>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="{{ url_for('static', filename='js/core.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>