{% extends 'base-blog.html' %}

{% block content %}

    <!-- Blog Post-->
    <section class="section section-xl bg-default text-left">
        <div class="container">
            <div class="row row-70">
                <div class="col-lg-8">
                    <div class="blog-post">
                        <!-- Post Classic-->
                        <article class="post post-classic">
                            <h4 class="post-classic-title">Почему юристы никак не договорятся о
                                криптовалютах
                            </h4>

                            <div class="post-classic-panel group-middle justify-content-start"><a
                                    class="badge badge-secondary" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16px"
                                     height="27px" viewbox="0 0 16 27"
                                     enable-background="new 0 0 16 27" xml:space="preserve">
                        <path d="M0,0v6c4.142,0,7.5,3.358,7.5,7.5S4.142,21,0,21v6h16V0H0z"></path>
                      </svg>
                                <div>Статья</div>
                            </a>

                                <div class="post-classic-time"><span
                                        class="icon fa fa-clock-o"></span>
                                    <time datetime="2018-11-30">10 июля 2017</time>
                                </div>
                                <div class="post-classic-author">by<a href="#">Roman_Yankovskiy</a>
                                </div>
                            </div>

                            <p class="post-classic-text">
                                Законодательное урегулирование криптовалют в России активно
                                обсуждается с 2014 года, однако никакого конкретного решения до сих
                                пор не принято. Следственный комитет, Генпрокуратура и ЦБ осторожно
                                советовали воздержаться от использования биткоинов, однако никаких
                                конкретных мер так и не приняли. Минфин в какой-то момент подготовил
                                запретительный законопроект, но его так и не внесли в Думу. Похоже,
                                что власти наконец поняли: запрещать криптовалюты не имеет смысла.
                                <br><br>
                                Однако если не запрещать криптовалюты, то нужно их легализовать –
                                определить юридический статус (или, как говорят юристы, правовой
                                режим). Почему этого до сих пор не сделано и (еще раз) нужно ли
                                вообще легализовывать криптовалюты?
                            </p>

                            <div class="post-classic-figure"><img
                                    src="{{ url_for('static', filename='images/post4/img1orig.jfif') }}"
                                    alt="" width="770" height="430"/></div>

                            <p class="post-classic-text">
                                <b>Tl;dr:</b> криптовалюты неминуемо надо легализовать, но юристы –
                                ужасно консервативные существа и не любят изобретать новые сущности.
                                Собственно, поэтому криптовалюты в России до сих пор не имеют
                                четкого статуса: их невозможно приравнять ни к одному из
                                существующих объектов права.
                                <br><br>
                                <b>1. Нужна ли вообще легализация?</b>
                                <br><br>
                                Многие считают, что криптовалюты не требуют легализации: те были
                                созданы, чтобы минимизировать издержки участников обмена, а
                                составление договоров и подписание бумаг – такие же издержки, как,
                                например, перевозка и пересчет бумажных денег. Если криптовалюты
                                легко передать и невозможно забрать силой, нужно ли допускать к ним
                                юристов? Более того: на основе блокчейна можно конструировать
                                смарт-контракты, которые оплачиваются криптовалютой – не значит ли
                                это окончательное наступление «конца права»?
                                <br><br>
                                Да, смарт-контракты действительно в известном смысле заменяют собой
                                право, поскольку дают альтернативный механизм, защищающий стороны
                                договора. С помощью смарт-контракта мы прописываем условия и
                                гарантии исполнения в самой системе, вместо того, чтобы обращаться к
                                огромной жадной толпе судей, нотариусов и адвокатов. Конечно,
                                возникает ряд проблем, связанных с внесением данных реального мира в
                                блокчейн (оракулы?), с защитой сети, с условными сделками и т. п.;
                                но отчасти смарт-контракты действительно снимают потребность в
                                юридическом оформлении сделок.
                                <br><br>
                                Однако если мы возьмем сделки с криптовалютой без смарт-контрактов,
                                то риски по таким сделкам можно снять только юридически. Скажем,
                                поставка некачественного товара за криптовалюту; перевод
                                криптовалюты под влиянием угрозы или обмана; перевод криптовалюты
                                неуполномоченным субъектом или, скажем, по неверному адресу – все
                                это требует вмешательства юриста или как минимум непредвзятого
                                арбитра, а следовательно, и создания неких формальных правил вне
                                блокчейна. Тут мы снова возвращаемся к праву.
                                <br><br>
                                Без четкого определения криптовалюты осложняется ее использование
                                добросовестными предпринимателями. Как вывести деньги с биржи на
                                расчетный счет организации? Как регистрировать ИП для майнинга в
                                промышленных масштабах? Как обменять криптовалюту на товар – ведь
                                пока криптовалюта «не существует», юридически это пустышка, вакуум;
                                значит, обмен на нее с юридической точки зрения будет не бартером, а
                                дарением (которое, напомню, запрещено между коммерческими
                                организациями).
                                <br><br>
                                Получается, что правовое регулирование криптовалют нужно не только
                                государству, но и самим участникам системы. Легализация приведет в
                                криптовалюты крупный бизнес, что уменьшит теневой рынок и обелит
                                репутацию криптовалют (в первую очередь биткоина). Легализация
                                расширит использование криптовалют как средства обмена и платежа: то
                                есть криптовалюты будут чаще использоваться в неинвестиционных
                                целях. Это увеличит количество транзакций и усилит децентрализацию
                                соответствующих блокчейнов.

                            </p>

                            <div class="post-classic-figure"><img
                                    src="{{ url_for('static', filename='images/post4/img2orig.jfif') }}"
                                    alt="" width="770" height="430"/></div>

                            <p class="post-classic-text">
                                ОК, предположим, что криптовалюты в конечном свете будут юридически
                                урегулированы. Вопрос лишь в том, как именно; и здесь юристы заходят
                                в тупик. Причем проблему нельзя разрешить по аналогии с другими
                                странами из-за разницы правовых систем (например, российская и
                                американская сильно различаются).
                                <br><br>
                                2. Нематериальные активы и консервативные юристы
                                <br><br>
                                Российская система частного права (к которому относится в том числе
                                гражданское право, а также регулирование финансовых рынков) ведет
                                свое происхождение от германской. И для российского, и для немецкого
                                права характерны:
                                <br><br>
                                1) крайняя консервативность, доходящая до того, что новые нормы
                                права в некоторые периоды допускалось лишь выводить из предыдущих, а
                                не создавать под фактические отношения; и
                                <br><br>
                                2) склонность к педантичной систематизации, на основании которой вся
                                система норм должна быть четко разложена по полочкам без лишних
                                деталей и выделяющихся феноменов. Я продемонстрирую, как эти
                                свойства повлияли на отношение юристов к материальным и
                                нематериальным вещам.
                                <br><br>
                                К началу 19 века немецкое право, созданное на основе систематизации
                                и переработки права римского, представляло собой стройную модель:
                                <br><br>
                                Все материальные объекты являлись вещами, которые делились на
                                множество категорий: движимые и недвижимые,
                                индивидуально-определенные вещи и родовые, делимые и неделимые,
                                одушевленные (животные) и неодушевленные и т. д.
                                Правами на вещи владели лица – субъекты права. Делятся на лиц
                                физических (люди) и юридических (организации), которые также делятся
                                на множество видов.
                                За лицами признавались права на вещи. Это значит, что неважно, кто
                                фактически обладает вещью: важно иметь право (на основании закона
                                или договора) на эту вещь – так называемое субъективное право.
                                Например, одним из видов субъективных прав является право
                                собственности. Если я имею в собственности предмет Х, то даже если
                                кто-то завладеет им против моей воли, я могу обратиться в суд с
                                требованием (иском) и принудить нарушителя кошелек вернуть: ведь
                                право на кошелек у меня, а не у него.
                                <br><br>
                                Эта система прекрасно функционировала до тех пор, пока все вещи
                                (включая деньги) были материальными. Но затем все изменилось, и
                                основная революция связана с появлением авторских прав. До массового
                                книгопечатания, фотографии и прочих множительных технологий у
                                авторов не было необходимости защищать произведения: достаточно было
                                защитить его экземпляр (например, картину, а не изображение на ней),
                                а поскольку тот был вещью, задача сводилась к тривиальной. Сложности
                                возникли с падением цен на копирование экземпляров. Авторы были не в
                                состоянии защититься от «пиратов», поскольку формально те никакого
                                права не нарушали. Попытки адаптировать к проблеме существующие
                                концепции, признав за автором, например, «право собственности на
                                труд», успехов не имели.
                            </p>

                            <div class="post-classic-figure"><img
                                    src="{{ url_for('static', filename='images/post4/img3orig.jpg') }}"
                                    alt="" width="770" height="430"/></div>

                            <p class="post-classic-text">
                                Конечно, отдельные вопросы, в первую очередь практического свойства,
                                останутся открытыми. Например, большинство криптовалют предполагают
                                однозначную адресацию кошельков и их владельцев; это значит, что в
                                отношении защиты прав на такие криптовалюты должен работать иск об
                                истребовании из чужого незаконного владения (виндикация). Если
                                криптовалюта уйдет не к тому адресату или будет похищена с кошелька,
                                ее законный обладатель всегда сможем потребовать у суда обязать
                                фактического владельца ее вернуть. Вместе с тем на практике такое
                                решение будет неисполнимым: понятно, что никакие приставы не могут
                                понудить вернуть криптовалюту, если владелец кошелька этого не
                                захочет.
                                <br><br>
                                Также большой вопрос по-прежнему будет связан с майнингом – его,
                                вероятно, придется урегулировать отдельно. Пока криптовалюты
                                являются юридическим «пустым местом», майнерам не с чего платить
                                налогов; я бы сказал, что майниг – прекрасный способ занижения
                                прибыли внутри компании. Поэтому так или иначе майнинг у юридических
                                лиц попадет в законодательство, пусть и формально, с нулевой ставкой
                                НДС на получившиеся активы. Для юристов вопрос заключается в другом:
                                раз криптовалюты – это имущество, то к какому из способов
                                возникновения прав на него является майнинг? Лучше всего подходят
                                «обращение в собственность общедоступных вещей» (если считать хэши
                                «общедоступными вещами»), но сама постановка вопроса, конечно,
                                выглядит шизофренически. Может ли вообще быть имущественное право на
                                число?
                                <br><br>
                                Я уверен, что можно придумать массу других странных примеров, к
                                которым приведет приравнивание криптовалют к имуществу – наподобие
                                указания чиновниками в декларациях по налогу на имущество
                                («биткоины. 100 штук»). Если вы дочитали до этого места – кидайте в
                                комментарии свои варианты странных и непредвиденных последствий, к
                                которым приведет «имущественный» подход к криптовалюте.
                                <br><br>
                                Ну и официальный дисклеймер: эта статья – лишь плод моих размышлений
                                и не стоит по ней делать выводы о каком-либо будущем правовом
                                регулировании. Пока нет официальных заявлений, варианты
                                регулирования криптовалют могут быть самыми разными, и у
                                законодателей могут оказаться аргументы, которые я недооценил или не
                                учел. Так что пока вопрос, поднятый в статье – скорее юридическая
                                зарядка для ума.
                            </p>


                        </article>


                        <div class="blog-post-bottom-panel group-md group-justify">
                            <div class="blog-post-tags"><a href="#">Hostel</a><a href="#">News</a><a
                                    href="#">Article</a></div>
                            <div>
                                <div class="group-md group-middle"><span
                                        class="social-title">Share</span>
                                    <div>
                                        <ul class="list-inline list-inline-sm social-list">
                                            <li><a class="icon fa fa-facebook" href="#"></a></li>
                                            <li><a class="icon fa fa-twitter" href="#"></a></li>
                                            <li><a class="icon fa fa-google-plus" href="#"></a></li>
                                            <li><a class="icon fa fa-instagram" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Post Sidebar-->
                    <div class="post-sidebar post-sidebar-inset">
                        <div class="row row-lg row-60">
                            <div class="col-sm-6 col-lg-12">
                                <div class="post-sidebar-item">
                                    <!-- RD Search Form-->
                                    <form class="rd-search form-search form-post-search"
                                          action="search-results.html" method="GET">
                                        <div class="form-wrap">

                                        </div>
                                    </form>
                                </div>
                                <div class="post-sidebar-item">
                                    <h5>Категории</h5>
                                    <div class="post-sidebar-item-inset">
                                        <ul class="list list-categories">
                                            <li><a class="active" href="#">Все</a></li>
                                            <li><a href="#">Новости</a></li>
                                            <li><a href="#">Статьи</a></li>
                                            <li><a href="#">Интервью</a></li>
                                            <li><a href="#">Аналитика</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="post-sidebar-item">
                                    <h5>Популярное</h5>
                                    <div class="post-sidebar-item-inset">
                                        <!-- Post Minimal-->
                                        <article class="post post-minimal"><a
                                                class="post-minimal-figure" href="blog-post3"></a>
                                            <p class="post-minimal-title"><a href="blog-post3">Маршалловы
                                                Острова выпустят свою собственную криптовалюту</a>
                                            </p>
                                        </article>
                                        <!-- Post Minimal-->
                                        <article class="post post-minimal"><a
                                                class="post-minimal-figure" href="blog-post3"></a>
                                            <p class="post-minimal-title"><a href="blog-post3">Почему
                                                юристы никак не договорятся о криптовалютах</a></p>
                                        </article>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}