{% extends 'base-blog.html' %}

{% block content %}

    <!-- Blog Post-->
    <section class="section section-xl bg-default text-left">
        <div class="container">
            <div class="row row-70">
                <div class="col-lg-8">
                    <div class="blog-post">
                        <!-- Post Classic-->
                        <article class="post post-classic">
                            <h4 class="post-classic-title">Как новая криптовалюта от Китайского
                                банка оказалась не совсем криптовалютой
                            </h4>
                            <div class="post-classic-panel group-middle justify-content-start"><a
                                    class="badge badge-secondary" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16px"
                                     height="27px" viewbox="0 0 16 27"
                                     enable-background="new 0 0 16 27" xml:space="preserve">
                        <path d="M0,0v6c4.142,0,7.5,3.358,7.5,7.5S4.142,21,0,21v6h16V0H0z"></path>
                      </svg>
                                <div>Новости</div>
                            </a>

                                <div class="post-classic-time"><span
                                        class="icon fa fa-clock-o"></span>
                                    <time datetime="2018-11-30">20 августа 2019</time>
                                </div>
                                <div class="post-classic-author">by<a href="#">s_magas</a></div>
                            </div>
                            <p class="post-classic-text">
                                Народный Банк Китая завершил разработку протокола для выпуска
                                национальной криптовалюты. Предполагается, что основой станет
                                двухуровневая операционная система, которая однако не будет
                                полностью децентрализована.
                                <br><br><br>
                            <h5> Что известно на сегодняшний день </h5>
                            <br><br>
                            О том, что Китай близок к созданию государственных цифровых денег, о
                            которых власти впервые заявили еще три года назад, стало известно на
                            форуме China Finance 40 — регулярном мероприятии, посвященном экономике
                            и финансам в Китае. Выступивший в роли докладчика заместитель директора
                            отдела платежей организации Mu Changchun хоть и не раскрыл деталей
                            разработки и дату выпуска, но согласно его словам цифровая валюта
                            заменит наличные и другие криптовалюты, а также поможет повысить оборот
                            юаня в мире.
                            <br><br>
                            Заявление о финальной степени готовности к выпуску предполагаемой
                            криптовалюты было сделано после того, как 2 августа представители
                            Национального Банка Китая заявили о намерении ускорить процесс создания
                            государственных цифровых денег. По словам властей, новая валюта позволит
                            обойти торговые санкции, наложенные США, а также увеличить приток
                            инвестиций в страну.
                            <br><br>
                            Некоторые аналитики предполагают, что после того, как США заявили об
                            ужесточении пошлин иностранные инвесторы ринулись переводить средства из
                            юаня в более надежные активы – золото, другие валюты и в Bitcoin,
                            который с начала августа вырос на $3 тыс. – до почти $12 тыс. СМИ также
                            связывают решение создать государственные цифровые средства с активным
                            продвижением криптовалюты Libra от американской корпорации Фейсбук.
                            <br><br>
                            В июле, Wang Xin, глава отдела исследований Народного Банка Китая,
                            сказал, что Libra угрожает международной валютной системе, и страны
                            должны развивать свою цифровую валюту, чтобы предотвратить негативные
                            экономические последствия. Другие представители власти высказались о
                            необходимости укрепления национальной валюты через выпуск цифровых
                            денег. Известно, что к процессу эмиссии будут подключены местные
                            коммерческие институты и банки, а также такие корпорации, как Alibaba,
                            Huawei and Tencent. Часть из них уже выразила согласие поучаствовать в
                            реализации проекта.
                            <br><br>
                            Как следует из документов, частные лица и предприниматели смогут
                            скачивать мобильные кошельки и обменивать свои юани на цифровую валюту,
                            а потом совершать с ее помощью платежи. При этом китайский центробанк
                            получит полный контроль над всеми операциями.

                            <br><br><br>
                            <h5> Новая криптовалюта не будет децентрализованной </h5>
                            <br><br>

                            Бурная дискуссия в интернете, вызванная новостью об активизации
                            Китайского правительства в отношении разработки собственной
                            криптовалюты, сопровождалась множеством вопросов. Больше всего
                            пользователи интересовались, как скоро они увидят новую валюту в
                            действии и каким образом Китай сможет в кратчайшие сроки создать целую
                            децентрализованную систему, необходимую для ее функционирования.
                            <br><br>
                            Сенсационным заявлением, которое с одной стороны стало неожиданным
                            ответом на эти вопросы, а с другой — вызвало новые споры, стало
                            разглашение деталей этой самой структуры. Как оказалось, эмиссия будущей
                            криптовалюты будет проводиться по принципу двухуровневой системы. На
                            верхнем уровне будет находиться Народный банк Китая, в то время, как
                            коммерческие банки займут второй уровень, подчеркнул Mu Changchun в ходе
                            выступления на China Finance 40:
                            </p>

                        </article>

                        <!-- Quote Classic-->
                        <article class="quote-classic quote-classic-big">
                            <div class="quote-classic-text">
                                <p class="q">Данная двухуровневая система подходит для наших
                                    национальных условий. Она может использовать существующие
                                    ресурсы для поддержки и развития коммерческих банков и плавной
                                    популяризации цифровой валюты</p>
                            </div>
                        </article>

                        <article class="post post-classic">
                            <p class="post-classic-text">

                                При этом, блокчейн будет использован лишь частично. Он привел четыре
                                довода в пользу данного решения:
                                <br>
                            <ol>
                                <br>
                                <li>1. Популяризация новых денег. Во-первых, Китай представляет
                                    собой сложную экономику с обширной территорией и большим
                                    населением, что подразумевает возможные сложности при массовом
                                    переходе на новую технологию. С точки зрения улучшения
                                    доступности предлагаемой криптовалюты и более гладкого введения
                                    в эксплуатацию будущих цифровых средств центральный банк Китая
                                    предлагает использовать двухуровневую операционную структуру.
                                </li>
                                <br>
                                <li>2. Развитие технологического превосходства. Во-вторых, Народный
                                    банк Китая решил принять двухуровневую структуру, чтобы в полной
                                    мере использовать ресурсы, таланты и технологические
                                    преимущества коммерческих организаций, продвигать инновации и
                                    бороться за превосходство.
                                </li>
                                <br>
                                <li>3. Диверсификация. В-третьих, двухуровневая операционная система
                                    помогает разрешать риски и избегать чрезмерной концентрации
                                    рисков.
                                </li>
                                <br>
                                <li>4. Поддержка местных банков. В-четвертых, использование
                                    одноуровневой операционной архитектуры может привести к снижению
                                    роли банков в цепочке финансовых услуг.
                                </li>
                            </ol>

                            Мu добавил, что в рамках одноуровневой системы Народный банк будет
                            напрямую взаимодействовать с населением по вопросам цифровой валюты, что
                            негативно скажется на способности коммерческих банков кредитовать и
                            снизит их конкурентоспособность. Результатом могут стать повышение цены
                            капитала, увеличение затрат на социальное финансирование и ущерб
                            реальной экономике.


                            </p>

                        </article>


                        <div class="blog-post-bottom-panel group-md group-justify">
                            <div class="blog-post-tags"><a href="#">Финансы в IT</a><a href="#">Криптовалюты</a><a
                                    href="#">Новости</a></div>
                            <div>
                                <div class="group-md group-middle"><span
                                        class="social-title">Share</span>
                                    <div>
                                        <ul class="list-inline list-inline-sm social-list">
                                            <li><a class="icon fa fa-facebook" href="#"></a></li>
                                            <li><a class="icon fa fa-twitter" href="#"></a></li>
                                            <li><a class="icon fa fa-google-plus" href="#"></a></li>
                                            <li><a class="icon fa fa-instagram" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Post Sidebar-->
                    <div class="post-sidebar post-sidebar-inset">
                        <div class="row row-lg row-60">
                            <div class="col-sm-6 col-lg-12">
                                <div class="post-sidebar-item">
                                    <!-- RD Search Form-->
                                    <form class="rd-search form-search form-post-search"
                                          action="search-results.html" method="GET">
                                        <div class="form-wrap">

                                        </div>
                                    </form>
                                </div>
                                <div class="post-sidebar-item">
                                    <h5>Категории</h5>
                                    <div class="post-sidebar-item-inset">
                                        <ul class="list list-categories">
                                            <li><a class="active" href="#">Все</a></li>
                                            <li><a href="#">Новости</a></li>
                                            <li><a href="#">Статьи</a></li>
                                            <li><a href="#">Интервью</a></li>
                                            <li><a href="#">Аналитика</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="post-sidebar-item">
                                    <h5>Популярное</h5>
                                    <div class="post-sidebar-item-inset">
                                        <!-- Post Minimal-->
                                        <article class="post post-minimal"><a
                                                class="post-minimal-figure" href="blog-post3"></a>
                                            <p class="post-minimal-title"><a href="blog-post3">Маршалловы
                                                Острова выпустят свою собственную криптовалюту</a>
                                            </p>
                                        </article>
                                        <!-- Post Minimal-->
                                        <article class="post post-minimal"><a
                                                class="post-minimal-figure" href="blog-post3"></a>
                                            <p class="post-minimal-title"><a href="blog-post3">Почему
                                                юристы никак не договорятся о криптовалютах</a></p>
                                        </article>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
