{% extends 'base-blog.html' %}

{% block content %}

    <!-- Blog Post-->
    <section class="section section-xl bg-default text-left">
        <div class="container">
            <div class="row row-70">
                <div class="col-lg-8">
                    <div class="blog-post">

                        <!-- Post Classic-->
                        <article class="post post-classic">
                            <h4 class="post-classic-title">Маршалловы Острова выпустят свою
                                собственную криптовалюту
                            </h4>

                            <div class="post-classic-panel group-middle justify-content-start"><a
                                    class="badge badge-secondary" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16px"
                                     height="27px" viewbox="0 0 16 27"
                                     enable-background="new 0 0 16 27" xml:space="preserve">
                        <path d="M0,0v6c4.142,0,7.5,3.358,7.5,7.5S4.142,21,0,21v6h16V0H0z"></path>
                      </svg>
                                <div>Новости</div>
                            </a>

                                <div class="post-classic-time"><span
                                        class="icon fa fa-clock-o"></span>
                                    <time datetime="2018-11-30">8 сентября 2019</time>
                                </div>
                                <div class="post-classic-author">by<a href="#">AnnieBronson</a>
                                </div>
                            </div>

                            <div class="post-classic-figure"><img
                                    src="{{ url_for('static', filename='images/post3/img1orig.jpeg') }}"
                                    alt="" width="770" height="430"/></div>

                            <p class="post-classic-text">
                                Маршлалловы Осторова — небольшое тихоокеанское государство —
                                намерено выпустить собственную криптовалюту. Как стало известно из
                                эссе Дэвида Пола, помощника президента страны, официальная
                                презентация валюты произойдёт на конференции Invest: Asia 2019,
                                которая состоится в Сингапуре 11—12 сентября.
                                <br><br>
                                «В прошлом году мы приняли Закон о суверенной валюте, заявив о нашем
                                намерении выпустить новую валюту (SOV), которую мы будем
                                использовать вместе с долларом. Выпуск валюты, конечно, является
                                прерогативой любой суверенной нации, но беспрецедентным является то,
                                что мы решили выпустить нашу суверенную валюту с использованием
                                технологии блокчейн», — приводит издание Coindesk слова Дэвида Пола.
                                — Появление технологии блокчейн открыло мир возможностей для таких
                                маленьких стран, как наша. Опираясь на традиционную бумажную валюту,
                                Маршалловы Острова имеют лишь хрупкие связи с более широким миром
                                международных финансов, а их поддержание чрезвычайно ресурсоемко.
                                Многие из наших граждан отправляют или получают деньги, используя
                                услуги денежных переводов, уплачивая комиссию до 10% за транзакцию.
                                Даже простые вещи, такие как приобретение и установка банкоматов,
                                становятся сложными, когда вы находитесь в середине Тихого океана!»
                                — пишет Дэвид Пол.
                                <br><br>
                                Власти Маршалловых осторов решили создать фиксированную денежную
                                массу с фиксированным ростом на 4% каждый год. Новые SOV будут
                                автоматически распространяться среди держателей валют и
                                децентрализованных организаций, защищающих сеть.
                                <br><br>
                                «Это означает, что мы в правительстве не можем изменить предложение
                                денег, и мы не можем манипулировать стоимостью нашей валюты, печатая
                                больше денег», — пояснил чиновник.
                                <br><br>
                                Наконец, новая государственная криптовалюта должна быть принята на
                                международном уровне. Каждое лицо, использующее SOV, должно быть
                                идентифицировано банком или биржей. Тем не менее, заявляет Дэвид
                                Пол, крайне важно, чтобы отдельные пользователи имели разумные рамки
                                конфиденциальности, в частности, возможность выбирать, когда
                                раскрывать информацию о себе, чем именно и с кем делиться.
                                <br><br>
                                «Маршалловы Острова тесно сотрудничают с международными
                                регулирующими органами, чтобы обеспечить соответствие SOV всем
                                требованиям соответствия и возможность полной интеграции в
                                международную финансовую экосистему. На самом деле, в отличие от
                                бумажных валют, SOV разрабатывается с нуля в цифровой форме, чтобы
                                предотвратить злоупотребление», — заключил чиновник.
                                <br><br>
                                Ранее стало известно, что ещё одно государство, которое хочет
                                запустить собственную цифровую валюту, в ближайшее время передаст
                                государственную крипту в семь независимых компаний, для её
                                дальнейшего распространения. В список вошли Промышленный и
                                коммерческий банк Китая (ICBC), Банк Китая (Bank of China),
                                Сельскохозяйственный банк Китая; а также Alibaba, Tencent, Union
                                Pay, Chinese Banking Association.
                            </p>


                        </article>


                        <div class="blog-post-bottom-panel group-md group-justify">
                            <div class="blog-post-tags"><a href="#">Финансы в IT</a><a href="#">Криптовалюты</a><a
                                    href="#">Статья</a></div>
                            <div>
                                <div class="group-md group-middle"><span
                                        class="social-title">Share</span>
                                    <div>
                                        <ul class="list-inline list-inline-sm social-list">
                                            <li><a class="icon fa fa-facebook" href="#"></a></li>
                                            <li><a class="icon fa fa-twitter" href="#"></a></li>
                                            <li><a class="icon fa fa-google-plus" href="#"></a></li>
                                            <li><a class="icon fa fa-instagram" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Post Sidebar-->
                    <div class="post-sidebar post-sidebar-inset">
                        <div class="row row-lg row-60">
                            <div class="col-sm-6 col-lg-12">
                                <div class="post-sidebar-item">
                                    <!-- RD Search Form-->
                                    <form class="rd-search form-search form-post-search"
                                          action="search-results.html" method="GET">
                                        <div class="form-wrap">

                                        </div>
                                    </form>
                                </div>
                                <div class="post-sidebar-item">
                                    <h5>Категории</h5>
                                    <div class="post-sidebar-item-inset">
                                        <ul class="list list-categories">
                                            <li><a class="active" href="#">Все</a></li>
                                            <li><a href="#">Новости</a></li>
                                            <li><a href="#">Статьи</a></li>
                                            <li><a href="#">Интервью</a></li>
                                            <li><a href="#">Аналитика</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="post-sidebar-item">
                                    <h5>Популярное</h5>
                                    <div class="post-sidebar-item-inset">
                                        <!-- Post Minimal-->
                                        <article class="post post-minimal"><a
                                                class="post-minimal-figure" href="blog-post3"></a>
                                            <p class="post-minimal-title"><a href="blog-post3">Маршалловы
                                                Острова выпустят свою собственную криптовалюту</a>
                                            </p>
                                        </article>
                                        <!-- Post Minimal-->
                                        <article class="post post-minimal"><a
                                                class="post-minimal-figure" href="blog-post3"></a>
                                            <p class="post-minimal-title"><a href="blog-post3">Почему
                                                юристы никак не договорятся о криптовалютах</a></p>
                                        </article>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
