{% extends 'base.html' %}

{% block title %}
    <title>Новости</title>
{% endblock %}

{% block content %}

    <!-- Blog Post-->
    <section class="section section-xl bg-default text-left">
        <div class="container">
            <div class="row row-70">
                <div class="col-lg-8">
                    <div class="blog-post">
                        <!-- Post Classic-->
                        <article class="post post-classic">
                            <h4 class="post-classic-title">В Эстонии может появиться национальная
                                криптовалюта для «электронных граждан»
                            </h4>
                            <div class="post-classic-panel group-middle justify-content-start"><a
                                    class="badge badge-secondary" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16px"
                                     height="27px" viewbox="0 0 16 27"
                                     enable-background="new 0 0 16 27" xml:space="preserve">
                        <path d="M0,0v6c4.142,0,7.5,3.358,7.5,7.5S4.142,21,0,21v6h16V0H0z"></path>
                      </svg>
                                <div>Новости</div>
                            </a>

                                <div class="post-classic-time"><span
                                        class="icon fa fa-clock-o"></span>
                                    <time datetime="2018-11-30">24 августа 2017</time>
                                </div>
                                <div class="post-classic-author">by<a href="#">marks</a></div>
                            </div>

                            <div class="post-classic-figure"><img
                                    src="{{ url_for('static', filename='images/post1/img1orig.jpg') }}"
                                    alt="" width="770" height="430"/></div>

                            <p class="post-classic-text">Вот уже несколько лет Эстония держит курс
                                на становление в качестве электронного государства. Еще в прошлом
                                году на Geektimes публиковался достаточно обширный материал с
                                информацией о системе электронного гражданства, онлайн-голосования,
                                государственных электронных сервисах и многом другом. Что касается
                                электронного гражданства, то программу по развитию этого направления
                                Эстония предложила еще три года назад.
                                <br><br>
                                Практически любой иностранец (за малым исключением) может получить
                                электронную резиденцию (или гражданство, хотя это не совсем
                                корректный термин), после чего этому человеку становятся доступны
                                большое количество возможностей по ведению бизнеса во многих
                                странах. В частности, «электронный гражданин» может открыть счет в
                                эстонском банке, зарегистрировать компанию, получить электронную
                                подпись для верификации своих документов в любой точке мира. А
                                сейчас в этой стране рассматривается еще один интересный
                                законопроект — выпуск собственной криптовалюты, которая, в случае
                                своего появления, получит название estcoins.
                                <br><br>
                                Использовать эту криптовалюту смогут все те же «электронные
                                граждане». Любой иностранец, получив e-residence, сможет начать
                                работу с эстонскими криптомонетами. Если все будет идти так, как
                                планируется, то в скором времени новая криптовалюта (ее появление
                                еще не на все 100% реальность) пройдет через процедуру Initial Coin
                                Offering (ICO). Эстонцы обещают минимум бюрократии и максимум
                                эффективной работы.
                                <br><br>
                                Вероятно, это еще один шаг, направленный на привлечение новых
                                виртуальных граждан, которые смогут поддержать экономику Эстонии
                                путем, как уже говорилось выше, открытия счетов в эстонских банках с
                                проведением коммерческих операций.
                                <br><br>
                                К 2025 году прибалтийское государство с населением всего в 1,3 млн
                                человек, надеется получить 10 млн электронных граждан. Сейчас их не
                                так много, всего 22 тысячи. Но эти люди — предприниматели, которые
                                уже оказывают позитивное влияние на экономическую инфраструктуру
                                страны.</p>

                            <div class="post-classic-figure"><img
                                    src="{{ url_for('static', filename='images/post1/img2orig.png') }}"
                                    alt="" width="770" height="430"/></div>

                            <p class="post-classic-text">Кстати, если интересно, то на первом месте
                                в списке стран, из которых прибыли «электронные граждане» —
                                Финляндия. Затем следуют Россия, Украина, США и Великобритания. Как
                                видим, программа электронного гражданства привлекает многих, и не
                                напрасно. Все больше людей стали искать возможность вести легально
                                бизнес за границей, с максимально упрощенной системой регистрации
                                такого бизнеса и гарантиями безопасности. Кто-то просто хотел
                                получить международный статус, а кому-то препятствия ставило
                                правительство собственной страны. «Страна как сервис» — а Эстония,
                                похоже, превращается именно такую страну (в положительнейшем
                                понимании этого термина)
                                <br><br>
                                Причины, которые побуждают представителей других стран
                                регистрироваться в Эстонии в качестве ее резидентов, хотя бы и
                                электронных, понятны. Это географическая независимость, минимум
                                бюрократии, низкие издержки и доступ к различным сервисам, о чем уже
                                говорилось выше.
                                <br><br>
                                В свою очередь, в Эстонии постепенно развиваются сервисы для
                                электронных резидентов, и представители бизнеса вкладывают в эти
                                сервисы значительные средства. Работают с программой многие страны,
                                включая правительство США.
                                <br><br>
                                Традиционная схема предпринимательства изменяется благодаря Эстонии,
                                где получают «приют» люди, которые хотят без проблем работать по
                                всему миру, не испытывая сложностей с бухгалтерией, бюрократией
                                чиновников и прочими сложными вещами. Президент Эстонии недавно
                                заявил, что всего этого мало, и если страна желает идти в ногу с
                                цифровой эпохой, то необходимо нечто большее.
                                <br><br><br>
                            <h5> И причем здесь криптовалюты? </h5>
                            <br><br>
                            Электронные резиденты Эстонии, несмотря на то, что могут работать везде
                            и всюду, все же еще ограничены в своих действиях. Речь идет о валютных
                            ограничениях и всем, что связано с обменами валют и соответствующими
                            банковскими операциями. А что, если будет электронная валюта, у которой
                            тоже нет географической привязки? Например, как у биткоина. Это, вне
                            всякого сомнения, очень удобно.
                            <br><br>
                            Собственно, криптовалюты идеально подходят для электронных резидентов,
                            поскольку идея, лежащая в основе этих монет, та же — отсутствие
                            географических границ и минимальный контроль над операциями. Некоторые
                            страны, понимая, что за криптовалютами может быть будущее, уже некоторое
                            время разрабатывают собственные версии альтернатив биткоина. Особенно
                            здесь преуспел Китай.
                            <br><br>
                            Но в Эстонии — идеальное сочетание факторов для появления собственной
                            криптовалюты. Ни одна другая страна и близко не подошла к тому, что уже
                            сделано в этой прибалтийской стране. Здесь есть технологии, люди,
                            которые готовы использовать новые идеи, и самое главное —
                            законодательство, позволяющее быстро внедрять электронные инновации. В
                            некоторых странах эти факторы существуют по отдельности, а в Эстонии они
                            собраны вместе.
                            <br><br>
                            Понятно, что разработка и введение собственной криптовалюты займет время
                            и здесь, это не проект на выходные. Но это все же не долгосрочная
                            работа.
                            <br><br>
                            Ну а раз в Эстонии может появиться собственная криптовалюта, то можно
                            говорить и об Initial Coin Offering (ICO). Этот процесс помогает
                            компаниям собрать средства на реализацию собственных криптовалют.
                            Примеров ICO уже много, их проводил целый ряд стартапов, считающий, что
                            именно их монеты — лучшие. Ну а раз так, почему бы и эстонскому
                            правительству не провести ICO, чтобы избежать дополнительных затрат на
                            реализацию такого проекта?
                            <br><br>
                            Ведь те же предприниматели, которые являются электронными гражданами
                            Эстонии, вполне могут инвестировать свои средства в эту идею.
                            </p>

                            <div class="post-classic-figure"><img
                                    src="{{ url_for('static', filename='images/post1/img3orig.jpg') }}"
                                    alt="" width="770" height="430"/></div>

                            <p class="post-classic-text">
                            <h5> Но как будут работать «эсткоины»? </h5>
                            <br>
                            Все, как обычно. Проводится ICO и дальше начинается становление
                            криптовалюты. Существует несколько методов реализации этого плана, но
                            все они в итоге приводят к тому (по крайней мере, так считают авторы
                            самой идеи введения эстонской криптовалюты), что пользу получают и
                            инвесторы, то есть электронные граждане, и сама страна.
                            <br><br>
                            Интерес к этому проекту уже выразили многие представители сферы
                            криптовалют. Например, создатель «эфира» Виталик Бутерин считает идею
                            вполне жизнеспособной и готов ее поддержать. Он считает, что при помощи
                            новой криптовалюты страна получит существенную поддержку и будет
                            развиваться и дальше.
                            <br><br>
                            «ICO в системе электронного гражданства позволит создать сильную
                            систему, которая, помимо экономического аспекта, позволит электронным
                            гражданам почувствовать себя единым целым, поскольку они делают что-то
                            вместе», — заявил Бутерин. Он также добавил, что поскольку эсткоины
                            будут являться частью блокчейна, то Эстония сможет постепенно вводить
                            умные контракты, что, несомненно, положительным образом повлияет на
                            бизнес в этой стране и за ее пределами.
                            <br><br>
                            Ну а сами эсткоины могут послужить чем-то вроде «нефтяного фонда
                            Норвегии», куда отправляются деньги, вырученные при торговле нефтью с
                            моменты повышения ее стоимости. Это было бы вполне разумно — создать
                            подобный фонд. Снова-таки, он положительно повлиял бы на экономическую
                            ситуацию в стране. Ну а сама страна уже могла бы инвестировать средства
                            в различные перспективные сферы — от тех же умных контрактов до
                            искусственного интеллекта.
                            <br><br>
                            Эсткоины могли бы использоваться в качестве средства платежа — как в
                            малом бизнесе, так и крупном, как внутри страны, так и вне ее. На основе
                            эстонской криптовалюты и блокчейна можно было бы создать надежную
                            цифровую инфраструктуру, используемую одновременно во многих сферах. Это
                            электронное правительство, система голосования, банки, страхование и
                            т.п. Новая криптовалюта, как и электронное гражданство, вполне могла бы
                            выйти за пределы страны и стать международным феноменом.
                            <br><br>
                            В целом, идея действительно интересная. Вполне может быть, что вместе с
                            электронным гражданством новая криптовалюта создаст мощный узел
                            технологий и финансов, что позволит Эстонии двигаться вперед еще более
                            быстрыми темпами. К сожалению, пока что неясно, когда будет представлена
                            криптовалюта. Представители правительства Эстонии говорят, что сейчас
                            только презентовали идею создания национальной криптовалюты. После этого
                            последует относительно долгий период сбора мнений и откликов. И уже
                            потом будет и официальная презентация, и ICO, и все, что с этим всем
                            связано.
                            </p>


                        </article>


                        <div class="blog-post-bottom-panel group-md group-justify">
                            <div class="blog-post-tags"><a href="#">Управление e-commerce</a><a
                                    href="#">Криптовалюты</a><a href="#">Новости</a></div>
                            <div>
                                <div class="group-md group-middle"><span class="social-title">Поделиться</span>
                                    <div>
                                        <ul class="list-inline list-inline-sm social-list">
                                            <li><a class="icon fa fa-facebook" href="#"></a></li>
                                            <li><a class="icon fa fa-twitter" href="#"></a></li>
                                            <li><a class="icon fa fa-google-plus" href="#"></a></li>
                                            <li><a class="icon fa fa-instagram" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Post Sidebar-->
                    <div class="post-sidebar post-sidebar-inset">
                        <div class="row row-lg row-60">
                            <div class="col-sm-6 col-lg-12">
                                <div class="post-sidebar-item">
                                    <!-- RD Search Form-->
                                    <form class="rd-search form-search form-post-search"
                                          action="search-results.html" method="GET">
                                        <div class="form-wrap">

                                        </div>
                                    </form>
                                </div>
                                <div class="post-sidebar-item">
                                    <h5>Категории</h5>
                                    <div class="post-sidebar-item-inset">
                                        <ul class="list list-categories">
                                            <li><a class="active" href="#">Все</a></li>
                                            <li><a href="#">Новости</a></li>
                                            <li><a href="#">Статьи</a></li>
                                            <li><a href="#">Интервью</a></li>
                                            <li><a href="#">Аналитика</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="post-sidebar-item">
                                    <h5>Популярное</h5>
                                    <div class="post-sidebar-item-inset">
                                        <!-- Post Minimal-->
                                        <article class="post post-minimal"><a
                                                class="post-minimal-figure" href="blog-post3"></a>
                                            <p class="post-minimal-title"><a href="blog-post3">Маршалловы
                                                Острова выпустят свою собственную криптовалюту</a>
                                            </p>
                                        </article>
                                        <!-- Post Minimal-->
                                        <article class="post post-minimal"><a
                                                class="post-minimal-figure" href="blog-post3"></a>
                                            <p class="post-minimal-title"><a href="blog-post3">Почему
                                                юристы никак не договорятся о криптовалютах</a></p>
                                        </article>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}