{% extends 'base.html' %}

{% block content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"
            integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis="
            crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let ctx = document.getElementById('priceChart');
            let myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ price_labels|tojson }},
                    datasets: [{
                        label: "Price",
                        data: {{ price_data|tojson }},
                        backgroundColor: [
                            "rgba(54, 162, 235, 0.2)"
                        ]
                    }]
                },
                options: {
                    legend: {
                        display: true
                    }
                }
            });
        }, false);
    </script>

    <section class="section section-md section-first bg-default">
        <div class="container">
            <h3 class="oh-desktop"><span
                    class="d-inline-block wow slideInUp"><b>График цен</b></span></h3>

            <canvas id="priceChart"></canvas>
        </div>
    </section>

{% endblock %}