{% extends 'base.html' %}

{% block content %}
    {% include 'header.html' %}

    <section class="section section-md">
        <div class="container">

            <h3 class="text-center">График</h3>

            <div class="row row-xl-60 offset-xl wow fadeInUp text" data-wow-delay=". {{ n }}s">
                <div class="layer" data-depth=".055">
                    <img src="{{ url_for('static', filename='images/layout_graph.png') }}"
                         alt="" width="100%"/>
                </div>
            </div>
        </div>
    </section>
{% endblock %}