{% extends 'base.html' %}

{% block content %}
    <section class="section section-intro bg-dark-blue context-dark section-decor">
        <div class="container">
            <div class="row">
                <div class="col-12 position-static parallax-scene-js">
                    <div class="logo-wrap">
                        <!--Brand-->
                        <a class="brand" href="/">
                            <img class="brand-logo-dark"
                                 src="{{ url_for('static', filename='images/logo_bitcoin.png') }}"
                                 alt="" width="240"
                                 height="240"/>
                            <img class="brand-logo-light"
                                 src="{{ url_for('static', filename='images/logo_bitcoin.png') }}"
                                 alt="" width="240" height="240"/>
                        </a>
                    </div>
                    <div class="floating-elements-1">
                        <div class="element-1">
                            <div class="layer" data-depth=".025">
                                <div class="circle-decor-1">
                                </div>
                            </div>
                        </div>
                        <div class="element-2">
                            <div class="layer" data-depth="-.025">
                                <div class="triangle-decor-1">
                                </div>
                            </div>
                        </div>
                        <div class="element-3">
                            <div class="layer" data-depth="-.035">
                                <div class="rectangle-decor-1">
                                </div>
                            </div>
                        </div>
                        <div class="element-4">
                            <div class="layer" data-depth="-.055">
                                <div class="half-circle_right-1">
                                </div>
                            </div>
                        </div>
                        <div class="element-5">
                            <div class="layer" data-depth="-.015">
                                <div class="square-dotted">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="floating-elements-2">
                        <div class="figure-classic-item-1 figure-rounded">
                            <div class="layer" data-depth=".055">
                                <img src="{{ url_for('static', filename='images/layout_graph.png') }}"
                                     alt="" width="350" height="200"/>
                            </div>
                        </div>
                        <div class="figure-classic-item-2 figure-rounded">
                            <div class="layer" data-depth=".025">
                                <img src="{{ url_for('static', filename='images/layout_news.jpg') }}"
                                     alt="" width="250" height="200"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="floating-text">Create</div>
    </section>
    <section class="section section-decor section-negative">
        <div class="container parallax-scene-js">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="intro-caption" data-wow-delay="1s">
                        <div class="intro-caption__title">КриптоХаб</div>
                        <div class="intro-caption__subtitle">Все о Криптовалюте</div>
                        <p>График с предсказанием цен, новости, API.</p>
                        <div class="button-group">
                            <a class="button button-shadow button-yellow"
                               href="graph">График</a>
                            <a class="button button-transparent" href="#">Узнать Больше</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 position-static custom-col">
                    <div class="figure-classic-item-3 figure-rounded">
                        <div class="layer" data-depth="-.055">
                            <img
                                    src="{{ url_for('static', filename='images/layout_api.png') }}"
                                    alt="" width="145" height="200"/>
                        </div>
                    </div>
                    {#                    <div class="figure-classic-item-4 figure-rounded">#}
                    {#                        <div class="layer" data-depth=".045">#}
                    {#                            <img#}
                    {#                                    src="{{ url_for('static', filename='images/preview-mini-4-145x200.png') }}"#}
                    {#                                    alt="" width="145" height="200"/>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="figure-classic-item-5 figure-rounded">#}
                    {#                        <div class="layer" data-depth=".035">#}
                    {#                            <img#}
                    {#                                    src="{{ url_for('static', filename='images/preview-mini-6-176x219.png') }}"#}
                    {#                                    alt="" width="176" height="219"/>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="figure-classic-item-6 figure-rounded">#}
                    {#                        <div class="layer" data-depth="-.025">#}
                    {#                            <img#}
                    {#                                    src="{{ url_for('static', filename='images/preview-mini-5-176x219.png') }}"#}
                    {#                                    alt="" width="176" height="219"/>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h3 class="text-center">
                <span class="d-block">Следите За Новостями Из Мира Криптовалюты</span>
                <span class="d-block">Не Пропускайте Ни Мгновения</span>
            </h3>
        </div>
        <div class="bg-white section-custom-2 offset-xl-80">
            <div class="container">
                <div class="row border-columns row-30 justify-content-center">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".1s">
                        <div class="advantages-box">
                            <div class="advantages-box__icon">
                                <div class="icon linearicons-code">
                                </div>
                            </div>
                            <h5>График</h5>
                            <p>Цены обновляются каждую секунду согласно данным, получаемым из трех
                                различных источников.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="advantages-box">
                            <div class="advantages-box__icon">
                                <div class="icon linearicons-layers">
                                </div>
                            </div>
                            <h5>Новости</h5>
                            <p>Обновления самых популярных Telegram каналов мгновенно появляются на
                                странице.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                        <div class="advantages-box">
                            <div class="advantages-box__icon">
                                <div class="icon linearicons-laptop-phone">
                                </div>
                            </div>
                            <h5>Предсказания</h5>
                            <p>Специально обученная нейросеть предсказывает цену криптовалюты.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-md bg-dark-blue">
        <div class="container">
            <div class="row row-30 row-custom-decor">
                <div class="col-sm-4 d-md-flex justify-content-start decor-right">
                    <!--Counter-->
                    <div class="box-counter">
                        <div class="box-counter-main">
                            <div class="counter">20</div>
                            <div class="counter-postfix">
                                <div class="icon mdi mdi-plus">
                                </div>
                            </div>
                        </div>
                        <p class="box-counter-title">Криптовалют</p>
                    </div>
                </div>
                <div class="col-sm-4 d-md-flex justify-content-center">
                    <!--Counter-->
                    <div class="box-counter">
                        <div class="box-counter-main">
                            <span>0</span>
                            <div class="counter">1</div>
                            <div class="counter-postfix">
                                <div class="icon mdi mdi-star">
                                </div>
                            </div>
                        </div>
                        <p class="box-counter-title">Месяц Данных</p>
                    </div>
                </div>
                <div class="col-sm-4 d-md-flex justify-content-end decor-left">
                    <!--Counter-->
                    <div class="box-counter">
                        <div class="box-counter-main">
                            <div class="counter">76</div>
                            <div class="counter-postfix">
                                <div class="icon mdi mdi-percent">
                                </div>
                            </div>
                        </div>
                        <p class="box-counter-title">Точность Предсказания</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-md">
        <div class="container">
            <h3 class="text-center">Разделы</h3>
            <div class="row row-xl-60 offset-xl">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".1s">
                    <div class="preview-box">
                        <a class="preview-box__media"
                           href="graph">
                            <img src="{{ url_for('static', filename='images/layout_graph.png') }}"
                                 alt="" width="368" height="282"/>
                        </a>
                        <a class="preview-box__title"
                           href="graph">
                            График
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="preview-box">
                        <a class="preview-box__media"
                           href="news">
                            <img src="{{ url_for('static', filename='images/layout_news.jpg') }}"
                                 alt="" width="368" height="282"/>
                        </a>
                        <a class="preview-box__title"
                           href="news">
                            Новости</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                    <div class="preview-box">
                        <a class="preview-box__media"
                           href="stats">
                            <img src="{{ url_for('static', filename='images/layout_api.png') }}"
                                 alt="" width="368" height="282"/>
                        </a>
                        <a class="preview-box__title"
                           href="stats">
                            Статистика</a>
                    </div>
                </div>
                {#                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">#}
                {#                    <div class="preview-box">#}
                {#                        <a class="preview-box__media"#}
                {#                           href="../flex-dynamics/index">#}
                {#                            <img#}
                {#                                    src="{{ url_for('static', filename='images/layout-4-368x282.jpg') }}"#}
                {#                                    alt="" width="368" height="282"/>#}
                {#                        </a>#}
                {#                        <a class="preview-box__title"#}
                {#                           href="../flex-dynamics/index">#}
                {#                            Dynamics</a>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".5s">#}
                {#                    <div class="preview-box">#}
                {#                        <a class="preview-box__media"#}
                {#                           href="../flex-marketing-agency/index">#}
                {#                            <img#}
                {#                                    src="{{ url_for('static', filename='images/layout-5-368x282.jpg') }}"#}
                {#                                    alt="" width="368" height="282"/>#}
                {#                        </a>#}
                {#                        <a class="preview-box__title"#}
                {#                           href="../flex-marketing-agency/index">#}
                {#                            Marketing Agency</a>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">#}
                {#                    <div class="preview-box">#}
                {#                        <a class="preview-box__media"#}
                {#                           href="../flex-pizza/index">#}
                {#                            <img#}
                {#                                    src="{{ url_for('static', filename='images/layout-6-368x282.jpg') }}"#}
                {#                                    alt="" width="368" height="282"/>#}
                {#                        </a>#}
                {#                        <a class="preview-box__title"#}
                {#                           href="../flex-pizza/index">#}
                {#                            Pizza</a>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".7s">#}
                {#                    <div class="preview-box">#}
                {#                        <a class="preview-box__media"#}
                {#                           href="../flex-flooring/index">#}
                {#                            <img#}
                {#                                    src="{{ url_for('static', filename='images/layout-7-368x282.jpg') }}"#}
                {#                                    alt="" width="368" height="282"/>#}
                {#                        </a>#}
                {#                        <a class="preview-box__title"#}
                {#                           href="../flex-flooring/index">#}
                {#                            Flooring</a>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">#}
                {#                    <div class="preview-box">#}
                {#                        <a class="preview-box__media"#}
                {#                           href="../flex-steel-processing/index">#}
                {#                            <img#}
                {#                                    src="{{ url_for('static', filename='images/layout-8-368x282.jpg') }}"#}
                {#                                    alt="" width="368" height="282"/>#}
                {#                        </a>#}
                {#                        <a class="preview-box__title"#}
                {#                           href="../flex-steel-processing/index">#}
                {#                            Steel Processing</a>#}
                {#                    </div>#}
                {#                </div>#}
                {#                <div class="col-lg-4 col-md-6 d-flex wow fadeInUp" data-wow-delay=".9s">#}
                {#                    <div class="preview-box">#}
                {#                        <div class="more">#}
                {#                            <img#}
                {#                                    src="{{ url_for('static', filename='images/layout-8-368x282.jpg') }}"#}
                {#                                    alt="" width="368" height="282"/>#}
                {#                            <div class="icon-box">#}
                {#                                <div class="icon linearicons-icons2">#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="preview-box__title"> Coming Soon</div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </section>
    <section class="section section-xs bg-primary">
        <div class="container">
            <div class="row row-20">
                <div class="col-md-5 d-flex justify-content-center justify-content-md-start align-items-center wow fadeInLeft">
                    <h3 class="text-white">Постоянные Обновления</h3>
                </div>
                <div class="col-md-7 text-center text-md-left wow fadeInRight">
                    <div class="box-cta-thin">
                        <span class="icon linearicons-history2"></span>
                        Данные о ценах и новости обновляются каждую секунду, чтобы вы всегда были в
                        курсе событий.
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    <section class="section section-lg section-decor-2">#}
    {#        <div class="container parallax-scene-js">#}
    {#            <div class="element-1">#}
    {#                <div class="layer" data-depth="-.050">#}
    {#                    <div class="half-circle_right-1">#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="element-2">#}
    {#                <div class="layer" data-depth=".050">#}
    {#                    <div class="rectangle-decor-1">#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="row align-items-xl-end row-30 offset-top-0">#}
    {#                <div class="col-xl-4 inset-xl-bottom-20 wow fadeInLeft text-center text-sm-left">#}
    {#                    <h3 class="text-white">A Great Range of Useful Features for Your Website</h3>#}
    {#                    <p class="text-white-08 text-md">Flex contains a variety of features that you#}
    {#                        will surely find useful.</p>#}
    {#                    <a#}
    {#                            class="offset-xl-40 button button-default-outline button-md" href="#">discover</a>#}
    {#                </div>#}
    {#                <div class="col-xl-8 inset-xl-70">#}
    {#                    <div class="row row-narrow-14 row-14 justify-content-center">#}
    {#                        <div class="col-sm-6 col-lg-4 col-xl-4 wow fadeInRight"#}
    {#                             data-wow-delay=".1s">#}
    {#                            <div class="icon-box-classic">#}
    {#                                <div class="icon-box-classic__icon">#}
    {#                                    <div class="icon linearicons-mouse-both">#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <h5>Calls to Action</h5>#}
    {#                                <div class="icon-box-classic__caption">Use creative Calls to Action#}
    {#                                    to motivate your customers.#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-sm-6 col-lg-4 col-xl-4 wow fadeInRight"#}
    {#                             data-wow-delay=".2s">#}
    {#                            <div class="icon-box-classic">#}
    {#                                <div class="icon-box-classic__icon">#}
    {#                                    <div class="icon linearicons-compare">#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <h5>Swiper Slider</h5>#}
    {#                                <div class="icon-box-classic__caption">Make your site attractive#}
    {#                                    with a modern slider.#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-sm-6 col-lg-4 col-xl-4 wow fadeInRight"#}
    {#                             data-wow-delay=".3s">#}
    {#                            <div class="icon-box-classic">#}
    {#                                <div class="icon-box-classic__icon">#}
    {#                                    <div class="icon linearicons-picture2">#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <h5>Portfolios</h5>#}
    {#                                <div class="icon-box-classic__caption">Showcase your projects with#}
    {#                                    portfolio pages.#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-sm-6 col-lg-4 col-xl-4 wow fadeInRight"#}
    {#                             data-wow-delay=".4s">#}
    {#                            <div class="icon-box-classic">#}
    {#                                <div class="icon-box-classic__icon">#}
    {#                                    <div class="icon linearicons-calendar-full">#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <h5>Blog</h5>#}
    {#                                <div class="icon-box-classic__caption">Post the latest news using#}
    {#                                    Flex’s Blog pages.#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-sm-6 col-lg-4 col-xl-4 wow fadeInRight"#}
    {#                             data-wow-delay=".5s">#}
    {#                            <div class="icon-box-classic">#}
    {#                                <div class="icon-box-classic__icon">#}
    {#                                    <div class="icon linearicons-cart">#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <h5>Shop Pages</h5>#}
    {#                                <div class="icon-box-classic__caption">Sell your products with#}
    {#                                    informative Shop pages.#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-sm-6 col-lg-4 col-xl-4 wow fadeInRight"#}
    {#                             data-wow-delay=".6s">#}
    {#                            <div class="icon-box-classic">#}
    {#                                <div class="icon-box-classic__icon">#}
    {#                                    <div class="icon linearicons-layers">#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <h5>Services</h5>#}
    {#                                <div class="icon-box-classic__caption">Display your services with#}
    {#                                    our pre-designed pages.#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    <section class="section section-lg section-decor-3">
        <div class="container container-custom parallax-scene-js">
            <h3 class="text-center">
                <span class="d-block">Самые Популярные Криптовалюты</span>
                <span
                        class="d-block">И Множество Других</span>
            </h3>
            <div class="row offset-ng-xl-30 row-30 row-narrow-70">
                <div class="col-12 position-static">
                    <div class="element-1">
                        <div class="layer" data-depth=".025">
                            <div class="rectangle-decor-1">
                            </div>
                        </div>
                    </div>
                    <div class="element-2">
                        <div class="layer" data-depth="-.025">
                            <div class="square-dotted-3">
                            </div>
                        </div>
                    </div>
                    <div class="element-3">
                        <div class="layer" data-depth="-.035">
                            <div class="rectangle-decor-2">
                            </div>
                        </div>
                    </div>
                    <div class="element-4">
                        <div class="layer" data-depth="-.055">
                            <div class="half-circle_right-1">
                            </div>
                        </div>
                    </div>
                    <div class="element-5">
                        <div class="layer" data-depth="-.015">
                            <div class="rectangle-decor-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row-xl-60 row justify-content-center text-center">
                        <div class="col-12 wow fadeInUp" data-wow-delay=".1s">
                            <img
                                    class="img-rounded-2"
                                    src="{{ url_for('static', filename='images/preview_bcc.png') }}"
                                    alt="" width="395"/>
                        </div>
                        <div class="col-12 wow fadeInUp" data-wow-delay=".2s">
                            <img
                                    class="img-rounded-2"
                                    src="{{ url_for('static', filename='images/preview_ripple.jpg') }}"
                                    alt="" width="395"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row-xl-60 row justify-content-center text-center">
                        <div class="col-12 wow fadeInUp" data-wow-delay=".3s">
                            <img
                                    class="img-rounded-2"
                                    src="{{ url_for('static', filename='images/preview_cosmos.png') }}"
                                    alt="" width="395"/>
                        </div>
                        <div class="col-12 wow fadeInUp" data-wow-delay=".4s">
                            <img
                                    class="img-rounded-2"
                                    src="{{ url_for('static', filename='images/preview_ethereum.jpg') }}"
                                    alt="" width="395"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row-xl-60 row justify-content-center text-center">
                        <div class="col-12 wow fadeInUp" data-wow-delay=".5s">
                            <img
                                    class="img-rounded-2"
                                    src="{{ url_for('static', filename='images/preview_grin.png') }}"
                                    alt="" width="395"/>
                        </div>
                        <div class="col-12 wow fadeInUp" data-wow-delay=".6s">
                            <img
                                    class="img-rounded-2"
                                    src="{{ url_for('static', filename='images/preview_litecoin.png') }}"
                                    alt="" width="395"/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="row-xl-60 row justify-content-center text-center">
                        <div class="col-12 wow fadeInUp" data-wow-delay=".7s">
                            <img
                                    class="img-rounded-2"
                                    src="{{ url_for('static', filename='images/preview_monero.png') }}"
                                    alt="" width="395"/>
                        </div>
                        <div class="col-12 wow fadeInUp" data-wow-delay=".8s">
                            <img
                                    class="img-rounded-2"
                                    src="{{ url_for('static', filename='images/preview_bitcoin.jpg') }}"
                                    alt="" width="395"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#    <section class="section section-lg section-decor-4">#}
    {#        <div class="container">#}
    {#            <div class="row justify-content-center parallax-scene-js">#}
    {#                <div class="col-12 position-static">#}
    {#                    <div class="element-1">#}
    {#                        <div class="layer" data-depth=".025">#}
    {#                            <div class="rectangle-decor-1">#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="element-2">#}
    {#                        <div class="layer" data-depth=".035">#}
    {#                            <div class="half-circle_right-1">#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="element-3">#}
    {#                        <div class="layer" data-depth=".035">#}
    {#                            <div class="square-dotted-2">#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-xl-10">#}
    {#                    <div class="row row-40">#}
    {#                        <div class="col-12">#}
    {#                            <div class="row justify-content-end">#}
    {#                                <div class="col-xl-9 inset-xl-left-60">#}
    {#                                    <h3 class="text-xl-left text-center">#}
    {#                                        <span class="d-block">Qualified & Friendly Customer</span>#}
    {#                                        <span#}
    {#                                                class="d-block">Support Always Ready to Help</span>#}
    {#                                    </h3>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-12">#}
    {#                            <div class="row row-30 justify-content-xl-between">#}
    {#                                <div class="col-xl-7">#}
    {#                                    <div class="img-box-creative">#}
    {#                                        <div class="img-box-creative__static">#}
    {#                                            <img#}
    {#                                                    class="wow fadeInLeft"#}
    {#                                                    src="{{ url_for('static', filename='images/home-img-1-482x295.jpg') }}"#}
    {#                                                    alt="" width="482" height="295"/>#}
    {#                                        </div>#}
    {#                                        <div class="img-box-creative__float">#}
    {#                                            <img#}
    {#                                                    class="wow fadeInLeft"#}
    {#                                                    src="{{ url_for('static', filename='images/home-img-2-315x284.jpg') }}"#}
    {#                                                    alt="" width="315" height="284"/>#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                <div class="col-xl-5 wow fadeInRight">#}
    {#                                    <div class="custom-box-xl">#}
    {#                                        <p class="text-md">Our professional & premium-level customer#}
    {#                                            support works 24/7 to help you build an outstanding#}
    {#                                            website and solve any issues you may have with Flex#}
    {#                                            template.</p>#}
    {#                                        <a class="button button-primary button-sm"#}
    {#                                           href="#">Buy Now</a>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
{% endblock %}