{% extends 'base.html' %}

{% block content %}
    {% include 'header.html' %}

    <section class="section section-md">
        <div class="container">

            <h3 class="text-center">Статистика</h3>

            <div class="row row-xl-60 offset-xl wow fadeInUp text" data-wow-delay=". {{ n }}s">
                {% for n in range(10) %}
                    <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sumenda potius quam
                        expetenda. Nihil opus est exemplis hoc facere longius.
                    </p>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}